<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TMS2017_ReportServer" connectionString="XpoProvider=MSSqlServer;data source=ABTECHLT001\SQL2014;user id=tmsAdmin;password=tmsAdmin@17;initial catalog=TMS2017;Persist Security Info=true" />
    </connectionStrings>
</configuration>