<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--<section name="DataParameters" type="LocalService.DataConfigSection, LocalService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
    <section name="DataParameters" type="Tms.Components.Data.DataConfigSection, Tms.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<!--<Data database="+HIs7WriJDqEfhbaUU86Xlz4jUJ8NF/o6r9OnT7v3mY="
				server="hEMj4wzdbkBlJW98skjIikDVtA1k6ok0wEg+bgDKjpp49tjCxxYG/P5/uJc6Kbv3" />-->
  <DataParameters database="jPhyFR8xuwBp0d/PFHerubQES/gcEOcY6n3xApd0aOg=" server="8FF//VDkWYuT+8V8Dl12aKUJOqs+bQCKI4gHuETFgr5Hc2pxM1N2CPqftIKAchGxvm0WNaZ/NfyiUj4YsWqywA==" user="klLeNOCw3aBOjBBWgjsfD2ZzL+xTjLHm/bosIbAJtyo=" password="klLeNOCw3aBOjBBWgjsfD9+kISVvchg1x/blqrhM0ko=" language="2ex3PpF+oxQrFnoyGYX19540XmzbHvUeGlEr5Tf+VPw=" others="L49FnLxVulFW8ogJTn1Nunb2dFSHjqNJxHUa9p9tH0GqhThBIpDBCUMK5UAg4xHJTocvcn7RFkrsGDm/rKEMpPYs4ZzVyKP4ybaVYjJ1eTXBwzrGOSdOKKMHdUw+U3+8XE3+JTndnpuGbF3qDJ/bdhah3iPvN9Iq3/dlGAvkCVsQFxqyZ6SQZ3z4qiB3zvthTgfDcqDDTSTGax+l+VG8hfN3bDxL6ffu8C4kuxpI3aZ5pgJgkk6VEGRZb9j5dVSacrbctbklZuGiGUMlmxo8CFlbP6Z9QUNA3G72oA/+jPVxUYyEFk82EdeI9X6dKEwFmKKW1So32e48Z+0rH4dVY0xZnklnuj2oPVCNqFyIMmBviKkz5zMOMFPjuixfig8M/PVAcFpbfZPgyQSL/W1KQSbG6+jnI5qzDEK/6lZoaeNw10xZCSRSs7TXI7RIjh5KICWZ+cwvU42SUnYaKOnm570PImA0LUFoeM0UykMurXjXEK/7Y4K1oEVdRkQcUNIc" />
  <DataParameters 
      database="RHEicmc/FJt2RQ97hHdvCMGsEw274/bS2Vobk7MonwSvlMUlaseLeYqtm6hVHoij" 
      server="P+ggZTO4WS0RfADHZQPNUo2kFOecvMy+rWi1imu19IAGIlYkRejlB2XDwaWAlYv5" 
      user="klLeNOCw3aBOjBBWgjsfD2ZzL+xTjLHm/bosIbAJtyo=" 
      password="klLeNOCw3aBOjBBWgjsfD9+kISVvchg1x/blqrhM0ko=" 
      language="2ex3PpF+oxQrFnoyGYX19540XmzbHvUeGlEr5Tf+VPw=" 
      others="L49FnLxVulFW8ogJTn1Nunb2dFSHjqNJxHUa9p9tH0GqhThBIpDBCUMK5UAg4xHJTocvcn7RFkrsGDm/rKEMpPYs4ZzVyKP4ybaVYjJ1eTXBwzrGOSdOKKMHdUw+U3+8XE3+JTndnpuGbF3qDJ/bdhah3iPvN9Iq3/dlGAvkCVsQFxqyZ6SQZ3z4qiB3zvthTgfDcqDDTSTGax+l+VG8hfN3bDxL6ffu8C4kuxpI3aZ5pgJgkk6VEGRZb9j5dVSacrbctbklZuGiGUMlmxo8CFlbP6Z9QUNA3G72oA/+jPVxUYyEFk82EdeI9X6dKEwFmKKW1So32e48Z+0rH4dVY0xZnklnuj2oPVCNqFyIMmBviKkz5zMOMFPjuixfig8M/PVAcFpbfZPgyQSL/W1KQSbG6+jnI5qzDEK/6lZoaeNw10xZCSRSs7TXI7RIjh5KICWZ+cwvU42SUnYaKOnm570PImA0LUFoeM0UykMurXjXEK/7Y4K1oEVdRkQcUNIc" />
  <!--<DataParameters 
        database="jPhyFR8xuwBp0d/PFHerubQES/gcEOcY6n3xApd0aOg=" 
        server="8FF//VDkWYuT+8V8Dl12aKUJOqs+bQCKI4gHuETFgr5Hc2pxM1N2CPqftIKAchGxvm0WNaZ/NfyiUj4YsWqywA==" 
        user="klLeNOCw3aBOjBBWgjsfD2ZzL+xTjLHm/bosIbAJtyo=" 
        password="klLeNOCw3aBOjBBWgjsfD9+kISVvchg1x/blqrhM0ko=" 
        language="2ex3PpF+oxQrFnoyGYX19540XmzbHvUeGlEr5Tf+VPw=" 
        others="L49FnLxVulFW8ogJTn1Nunb2dFSHjqNJxHUa9p9tH0GqhThBIpDBCUMK5UAg4xHJTocvcn7RFkrsGDm/rKEMpPYs4ZzVyKP4ybaVYjJ1eTXBwzrGOSdOKKMHdUw+U3+8XE3+JTndnpuGbF3qDJ/bdhah3iPvN9Iq3/dlGAvkCVsQFxqyZ6SQZ3z4qiB3zvthTgfDcqDDTSTGax+l+VG8hfN3bDxL6ffu8C4kuxpI3aZ5pgJgkk6VEGRZb9j5dVSacrbctbklZuGiGUMlmxo8CFlbP6Z9QUNA3G72oA/+jPVxUYyEFk82EdeI9X6dKEwFmKKW1So32e48Z+0rH4dVY0xZnklnuj2oPVCNqFyIMmBviKkz5zMOMFPjuixfig8M/PVAcFpbfZPgyQSL/W1KQSbG6+jnI5qzDEK/6lZoaeNw10xZCSRSs7TXI7RIjh5KICWZ+cwvU42SUnYaKOnm570PImA0LUFoeM0UykMurXjXEK/7Y4K1oEVdRkQcUNIc" />-->
	<!--<DataParameters database="jPhyFR8xuwBp0d/PFHeruXQN6C8T4k7HQzx5Su7PkUw=" 
									server="6GiTnOqYNNH1gbSUdXrfhuQs2ySqbgI4OpleG4Nlme7+G58sZeqC8NUn98AOZlve" 
									user="klLeNOCw3aBOjBBWgjsfD2ZzL+xTjLHm/bosIbAJtyo=" 
									password="klLeNOCw3aBOjBBWgjsfD9+kISVvchg1x/blqrhM0ko=" 
									language="2ex3PpF+oxQrFnoyGYX19540XmzbHvUeGlEr5Tf+VPw=" 
									others="L49FnLxVulFW8ogJTn1Nunb2dFSHjqNJxHUa9p9tH0GqhThBIpDBCUMK5UAg4xHJTocvcn7RFkrsGDm/rKEMpPYs4ZzVyKP4ybaVYjJ1eTXBwzrGOSdOKKMHdUw+U3+8XE3+JTndnpuGbF3qDJ/bdhah3iPvN9Iq3/dlGAvkCVsQFxqyZ6SQZ3z4qiB3zvthTgfDcqDDTSTGax+l+VG8hfN3bDxL6ffu8C4kuxpI3aZ5pgJgkk6VEGRZb9j5dVSacrbctbklZuGiGUMlmxo8CFlbP6Z9QUNA3G72oA/+jPVxUYyEFk82EdeI9X6dKEwFmKKW1So32e48Z+0rH4dVY0xZnklnuj2oPVCNqFyIMmBviKkz5zMOMFPjuixfig8M/PVAcFpbfZPgyQSL/W1KQSbG6+jnI5qzDEK/6lZoaeNw10xZCSRSs7TXI7RIjh5KICWZ+cwvU42SUnYaKOnm570PImA0LUFoeM0UykMurXjXEK/7Y4K1oEVdRkQcUNIc" />-->
  <!--<DataParameters database="jPhyFR8xuwBp0d/PFHeruZIOmaO+Kk+5ntJq03qb/RA=" 
                  server="8FF//VDkWYuT+8V8Dl12aKUJOqs+bQCKI4gHuETFgr5Hc2pxM1N2CPqftIKAchGxvm0WNaZ/NfyiUj4YsWqywA==" 
                  user="klLeNOCw3aBOjBBWgjsfD2ZzL+xTjLHm/bosIbAJtyo=" 
                  password="klLeNOCw3aBOjBBWgjsfD9+kISVvchg1x/blqrhM0ko=" 
                  language="2ex3PpF+oxQrFnoyGYX19540XmzbHvUeGlEr5Tf+VPw=" 
                  others="L49FnLxVulFW8ogJTn1Nunb2dFSHjqNJxHUa9p9tH0GqhThBIpDBCUMK5UAg4xHJTocvcn7RFkrsGDm/rKEMpPYs4ZzVyKP4ybaVYjJ1eTXBwzrGOSdOKKMHdUw+U3+8XE3+JTndnpuGbF3qDJ/bdhah3iPvN9Iq3/dlGAvkCVsQFxqyZ6SQZ3z4qiB3zvthTgfDcqDDTSTGax+l+VG8hfN3bDxL6ffu8C4kuxpI3aZ5pgJgkk6VEGRZb9j5dVSacrbctbklZuGiGUMlmxo8CFlbP6Z9QUNA3G72oA/+jPVxUYyEFk82EdeI9X6dKEwFmKKW1So32e48Z+0rH4dVY0xZnklnuj2oPVCNqFyIMmBviKkz5zMOMFPjuixfig8M/PVAcFpbfZPgyQSL/W1KQSbG6+jnI5qzDEK/6lZoaeNw10xZCSRSs7TXI7RIjh5KICWZ+cwvU42SUnYaKOnm570PImA0LUFoeM0UykMurXjXEK/7Y4K1oEVdRkQcUNIc" />-->
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
		</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>