.action_approve_01 {
    background-image: url(../images/icons/action_approve_01.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_approve_02 {
    background-image: url(../images/icons/action_approve_02.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_approve_03 {
    background-image: url(../images/icons/action_approve_03.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_approve_04 {
    background-image: url(../images/icons/action_approve_04.jfif);
    background-size: contain;
    background-repeat:no-repeat;
    
}
.action_filter_01 {
    background-image: url(../images/icons/action_filter_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_filter_02 {
    background-image: url(../images/icons/action_filter_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_filter_03 {
    background-image: url(../images/icons/action_filter_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_filter_04 {
    background-image: url(../images/icons/action_filter_04.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_find_01 {
    background-image: url(../images/icons/action_find_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_find_02 {
    background-image: url(../images/icons/action_find_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_find_03 {
    background-image: url(../images/icons/action_find_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_modify_01 {
    background-image: url(../images/icons/action_modify_01.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_modify_02 {
    background-image: url(../images/icons/action_modify_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_new_01 {
    background-image: url(../images/icons/action_new_01.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_new_02 {
    background-image: url(../images/icons/action_new_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_new_03 {
    background-image: url(../images/icons/action_new_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_new_04 {
    background-image: url(../images/icons/action_new_04.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_print_01 {
    background-image: url(../images/icons/action_print_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_print_02 {
    background-image: url(../images/icons/action_print_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.action_refresh_01 {
    background-image: url(../images/icons/action_refresh_01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.action_refresh_02 {
    background-image: url(../images/icons/action_refresh_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.coding {
    background-image: url(../images/icons/Coding.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_1 {
    background-image: url(../images/icons/delivery_1.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_2 {
    background-image: url(../images/icons/delivery_2.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_3 {
    background-image: url(../images/icons/delivery_3.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_4 {
    background-image: url(../images/icons/delivery_4.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_5 {
    background-image: url(../images/icons/delivery_5.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_6 {
    background-image: url(../images/icons/delivery_6.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_7 {
    background-image: url(../images/icons/delivery_7.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_8 {
    background-image: url(../images/icons/delivery_8.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_9 {
    background-image: url(../images/icons/delivery_9.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_10 {
    background-image: url(../images/icons/delivery_10.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.delivery_11 {
    background-image: url(../images/icons/delivery_11.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.deliveryNote_01 {
    background-image: url(../images/icons/deliveryNote_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.deliveryNote_02 {
    background-image: url(../images/icons/deliveryNote_02.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.deliveryNote_03 {
    background-image: url(../images/icons/deliveryNote_03.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.farmer_01 {
    background-image: url(../images/icons/farmer_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.farmer_02 {
    background-image: url(../images/icons/farmer_02.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.help {
    background-image: url(../images/icons/help.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.invoice_01 {
    background-image: url(../images/icons/invoice_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.invoice_02 {
    background-image: url(../images/icons/invoice_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.invoice_03 {
    background-image: url(../images/icons/invoice_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.invoice_04 {
    background-image: url(../images/icons/invoice_04.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.menu {
    background-image: url(../images/icons/menu.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.menu_01 {
    background-image: url(../images/icons/menu_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.menu_02 {
    background-image: url(../images/icons/menu_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.menu_03 {
    background-image: url(../images/icons/menu_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.menu_04 {
    background-image: url(../images/icons/menu_04.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.payment_01 {
    background-image: url(../images/icons/Payment_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.payment_02 {
    background-image: url(../images/icons/Payment_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.payment_03 {
    background-image: url(../images/icons/Payment_03.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.quality_01 {
    background-image: url(../images/icons/Quality_01.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.quality_02 {
    background-image: url(../images/icons/Quality_02.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.quality_03 {
    background-image: url(../images/icons/Quality_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.settings {
    background-image: url(../images/icons/Settings.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.supplier {
    background-image: url(../images/icons/Supplier.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.user {
    background-image: url(../images/icons/user.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.weighing_01 {
    background-image: url(../images/icons/weighing_01.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.weighing_02 {
    background-image: url(../images/icons/weighing_02.jfif);
    background-size: contain;
    background-repeat:no-repeat;
}
.weighing_03 {
    background-image: url(../images/icons/weighing_03.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.dimension{
    width: 100px;
    height: 100px;
}